.page * {
  //max-width: 100% !important;
}
.theme-mode-light {
  background: url('/soyof/images/lightContent.jpg') repeat left top
}
.theme-mode-dark {
  background: url('/soyof/images/bgcontent.jpg') repeat left top
}
.theme-mode-read {
  background: url('/soyof/images/blueContent.jpg') repeat left top
}
.sidebar-button {
  color: #fff
  background-color: #000
  opacity: .2
  &:hover {
    opacity: 1
  }
}

.reading-progress {
  .progress {
    background-color: #f5222d !important
  }
}

.theme-vdoing-content pre code {
  white-space: pre-wrap
}

.card-box {
  border-radius: 15px

}

.home-wrapper {
  .banner-conent {
    .hero {
      .description {
        transition: transform .5s ease-in-out
        text-shadow: 0 0 5px #10f701, 0 0 10px #727272;
        background-image: linear-gradient(to left, #9e0142, #d8584c, #d89b75, #fed481, #b0dea1, #ad5377, #4690b7)// 使用该属性进行渐变
        -webkit-background-clip: text
        color: transparent  //默认颜色设置透明
        background-clip: text
        animation: descHue 3s linear infinite
        &:hover {
          transform: scale(1.1)
          animation: none
        }
      }
    }
  }
}

.main-wrapper {
  .main-left {
    .post-list {
      .card-box {
        transition: transform .5s ease-in-out
        &:hover {
          transform: scale(1.05)
        }
      }
    }
  }
}

.banner-conent {
  #main-title {
    background: linear-gradient(to right, red, orange, yellow, cyan, blue, purple)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    animation:  hue 3s linear infinite
  }
}

.site-name {
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, purple)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  animation:  hue 3s linear infinite
}

@keyframes hue {
  0% {
    filter: hue-rotate(0deg)
  }

  50% {
    filter: hue-rotate(180deg)
  }
  100% {
    filter: hue-rotate(360deg)
  }
}

@keyframes descHue {
  0% {
    filter: hue-rotate(0deg)
    transform: rotateY(0deg)
  }

  50% {
    filter: hue-rotate(180deg)
    transform: rotateY(180deg)
  }
  100% {
    filter: hue-rotate(360deg)
    transform: rotateY(360deg)
  }
}
