.page * {
  //max-width: 100% !important;
}
.theme-mode-light {
  //background: url('/soyof/images/wallhaven-gp2jqd.jpg') no-repeat left top local
  background: linear-gradient(to bottom, #d9ecff, #c6e2ff, #b3d8ff, #a0cfff, #8cc5ff, #79bbff, #66b1ff, #53a8ff)
}
.theme-mode-dark {
  background: url('/soyof/images/bgcontent.jpg') repeat left top
}
.theme-mode-read {
  background: url('/soyof/images/blueContent.jpg') repeat left top
}
.sidebar-button {
  color: #fff
  background-color: #000
  opacity: .2
  &:hover {
    opacity: 1
  }
}

.reading-progress {
  .progress {
    background-color: #f5222d !important
  }
}

.theme-vdoing-content pre code {
  white-space: pre-wrap
}

.card-box {
  border-radius: 15px
}

.home-wrapper {
  .banner-conent {
    .hero {
      .description {
        transition: transform .5s ease-in-out
        text-shadow: 0 0 5px #10f701, 0 0 10px #727272;
        background-image: linear-gradient(to left, #9e0142, #d8584c, #d89b75, #fed481, #b0dea1, #ad5377, #4690b7)// 使用该属性进行渐变
        -webkit-background-clip: text
        color: transparent  //默认颜色设置透明
        background-clip: text
        animation: descHue 3s linear infinite
        &:hover {
          transform: scale(1.1)
          animation: none
        }
      }
    }
  }
}

.main-wrapper {
  .main-left {
    .post-list {
      .card-box {
        transition: transform .5s ease-in-out
        &:hover {
          transform: translate(-10px, -10px) scale(1.05)
        }
      }
    }
  }
}

.banner-conent {
  #main-title {
    background: linear-gradient(to right, red, orange, yellow, cyan, blue, purple)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    animation:  hue 3s linear infinite
  }
}

.site-name {
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, purple)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  animation:  hue 3s linear infinite
}

div[class*="language-"]::before {
  bottom: 0.8em
  top: auto
}

@keyframes hue {
  0% {
    filter: hue-rotate(0deg)
  }

  50% {
    filter: hue-rotate(180deg)
  }
  100% {
    filter: hue-rotate(360deg)
  }
}

@keyframes descHue {
  0% {
    filter: hue-rotate(0deg)
    transform: rotateY(0deg)
  }

  50% {
    filter: hue-rotate(180deg)
    transform: rotateY(180deg)
  }
  100% {
    filter: hue-rotate(360deg)
    transform: rotateY(360deg)
  }
}
.icon {
    margin-right: 0 !important
}

.card-box > * {
  position: relative
  z-index: 1
}
.card-box {
  position: relative
  transition: color 0.25s
  &::before, &::after {
    box-sizing: inherit
    content: ''
    position: absolute
    top: 0
    left: 0
    z-index: 0
    border: 1px solid transparent
    width: 100%
    height: 100%
    -webkit-transform-origin: center
    transform-origin: center
    border-radius: 15px
  }
  &::before {
    border-top: 1px solid #6477b9
    border-bottom: 1px solid #6477b9
    -webkit-transform: scale3d(0, 1, 1)
    transform: scale3d(0, 1, 1)
  }
  &::after {
    border-left: 1px solid #6477b9
    border-right: 1px solid #6477b9
    -webkit-transform: scale3d(1, 0, 1)
    transform: scale3d(1, 0, 1)
  }
  &:hover::before, &:hover::after {
    -webkit-transform: scale3d(1, 1, 1)
    transform: scale3d(1, 1, 1)
    transition: transform 0.5s, -webkit-transform 0.5s
  }
}

.theme-mode-light {
  .card-box {
    &::before {
      border-top: 1px solid #9b92c0
      border-bottom: 1px solid #9b92c0
    }
    &::after {
      border-left: 1px solid #9b92c0
      border-right: 1px solid #9b92c0
    }
  }
}

